@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/*Pretendard 웹폰트 불러오기*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './shadcnVars.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
}

@layer utilities {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
  }

  /* Text-3xl */
  .custom-text-3xl-bold {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
  }
  .custom-text-3xl-semibold {
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
  }

  /* Text-2xl */
  .custom-text-2xl-bold {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }
  .custom-text-2xl-semibold {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }
  .custom-text-2xl-medium {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
  }
  .custom-text-2xl-regular {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }

  /* Text-xl */
  .custom-text-xl-bold {
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
  }
  .custom-text-xl-semibold {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
  }
  .custom-text-xl-medium {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
  }
  .custom-text-xl-regular {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
  }

  /* Text-2lg */
  .custom-text-2lg-bold {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
  .custom-text-2lg-semibold {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
  }
  .custom-text-2lg-medium {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
  }
  .custom-text-2lg-regular {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }

  /* Text-lg */
  .custom-text-lg-bold {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
  }
  .custom-text-lg-semibold {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
  }
  .custom-text-lg-medium {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
  }
  .custom-text-lg-regular {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
  }

  /* Text-md */
  .custom-text-md-bold {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
  }
  .custom-text-md-semibold {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
  }
  .custom-text-md-medium {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
  .custom-text-md-regular {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  /* Text-sm */
  .custom-text-sm-semibold {
    font-size: 13px;
    line-height: 22px;
    font-weight: 600;
  }
  .custom-text-sm-medium {
    font-size: 13px;
    line-height: 22px;
    font-weight: 500;
  }

  /* Text-xs */
  .custom-text-xs-semibold {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }
  .custom-text-xs-medium {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }
  .custom-text-xs-regular {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
}
